@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito+Sans:opsz,wght@6..12,500&family=Open+Sans:wght@500&family=Pacifico&family=Poppins:wght@500&display=swap');

body{
    background-color: rgb(18,20,17);
    margin:0;
}

.navbar-container{
    height: 35px;
    width: 100%;
    background-color:rgb(40,254,175);
    display: flex;
}

.navbar-left-container, .navbar-right-container{
    width: 50%;
}

.navbar-left-container{
    display: flex;
    justify-content: flex-start;
}

.navbar-right-container{
    display: flex;
    justify-content: flex-end;
}

.navbar-anchors{
    /* border: 1px solid black; */
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: rgb(18,20,17);
    font-family: 'Poppins', sans-serif; 
    font-size: 17px;
}

.navbar-anchors:hover{
    background-color:rgb(29, 209, 143);
    transition: 0.3s;
    color: black;
}

#user-icon-anchor{
    padding-top: 2px;
}